.App__Footer
  padding: 50px 0 10px 30px
  position: relative
  +bp(_768)
    text-align: center
    padding: 50px 0 10px 0
  .footerBkg
    position: absolute
    left: 0
    right: 0
    bottom: 0
    +object-fit(cover)
    width: 100%
    height: 100%
  .logo-footer
    max-width: 170px
  .socLinks
    font-size: 36px
    margin-top: 50px
    img
      max-width: 45px
  .footerBox
    h5
      font-size: 20px
      font-weight: 900
      text-transform: uppercase
      margin-bottom: 25px
      +bp(_768)
        margin-top: 30px
    &__Content
      color: $gray-dark
  .page-content
    +bp(_768)
      text-align: center
    ul
      display: inline-block
      text-align: left
    a
      text-decoration: none
      +linx($black)
  .webmasterText
    position: relative
    text-align: center
    margin-top: 25px
    font-size: 13px
    font-style: italic
    z-index: 5
    a
      color: $cyan