.homeSlider
  height: 470px
  +bp(_768)
    height: auto
  &__Content
    padding-top: 20px
    > *
      margin-bottom: 15px
  .container
    position: absolute
    top: 50%
    left: 0
    right: 0
    transform: translateY(-50%)
    +bp(_768)
      position: static
      transform: none
    h1.desktopTitle
      +bp(_1024)
        display: none
    h1.mobileTitle
      display: none
      +bp(_1024)
        display: block
  .swiper-slide
    padding: 25px 0
  .bkgImg
    +pos(absolute, 0, 0, 0, 0)
    img
      +object-fit(cover)
      width: 100%
      height: 100%
  .slider-img
    position: relative
    height: 420px
    text-align: center
    +bp(_768)
      height: 300px
      margin-top: 20px
    +bp(_480)
      height: 210px
    img
      +object-fit(contain)
      height: 100%
      width: 100%

.swiper-pagination
  left: 0
  right: 0
  span
    margin: 0 4px
    width: 10px
    height: 10px
    &.swiper-pagination-bullet-active
      background-color: $cyan

  h1
    font-size: 48px
    margin-bottom: 10px
    +bp(_768)
      font-size: 36px
  h2
    font-size: 32px
    margin-bottom: 20px
    +bp(_768)
      font-size: 26px
  .slider-content
    max-width: 370px
    font-size: 16px
    +bp(_768)
      max-width: none
  .row
    display: flex
    +bp(_768)
      flex-direction: column
  &__Content
    position: absolute
    top: 50%
    transform: translateY(-50%)
    +bp(_768)
      position: static
      transform: none

.twoBox
  display: flex
  text-align: center
  max-width: 1650px
  margin: 0 auto
  +bp(_680)
    flex-direction: column
  &__Box
    flex-basis: 640px
    padding: 15px
    margin: 0 auto
    +bp(_680)
      flex-basis: 0
    &:last-child
      +bp(_680)
        margin-top: 30px
    &__Title
      margin-top: 25px
    &__Content
      line-height: 1.88
      color: $gray-mid
      min-height: 125px
    &__Buttons
      margin-top: 40px
      .more-info
        +btn(cyan)
        margin-right: 30px
      .getDemo
        +btn(cyanI)

.defaultSectionHome
  position: relative
  overflow: hidden
  text-align: center
  padding: 70px 0
  h2
    +Bborder()
  &.Parallax
    .Description
      color: $gray-dark
      margin-bottom: 55px
  &.newsSection
    .Description
      color: $gray-mid
      margin-bottom: 80px
  &:last-child
    padding-bottom: 0

//Products Slider
.productSliderHolder
  position: relative
  .productSliderPrev
    left: -60px
  .productSliderNext
    right: -60px
  .swiper-pagination
    bottom: -45px

.productSlider
  .productBox
    &__Tag
      margin-bottom: 50px
    &__Title
      min-height: 60px
      margin-bottom: 25px
      display: flex
      align-items: center
      h5
        font-size: 16px
        font-weight: 900
        margin: 0 auto
        text-transform: uppercase
    &__Content
      color: $gray-dark

.Parallax
  .rellax
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 100%
    +object-fit(cover)
    pointer-events: none

//News Section
.newsHolder
  display: flex
  .newsBox
    flex-basis: 300px
    flex-grow: 1
    position: relative
    padding-bottom: 70px
    margin: 0 15px 50px
    &__Img
      position: relative
      margin-top: 20px
      min-height: 240px
      img
        position: absolute
        left: 0
        top: 0
        +object-fit(contain)
        height: 100%
        width: 100%
    &__Content
      position: relative
      margin-left: 30px
      h5
        min-height: 0
        margin-top: 0
        margin-bottom: 30px
      .more-info
        transform: none
        left: 0
      .page-content
        padding: 0 0 50px
  h5
    font-size: 20px
    font-weight: 900
    margin-top: 25px
    margin-bottom: 25px
    min-height: 60px
    +bp(_991)
      min-height: 45px
    +bp(_600)
      min-height: 0
  .page-content
    padding: 0 10px
  .more-info
    +btn(cyanI)
    position: absolute
    bottom: 0
    left: 50%
    transform: translate(-50%, -2px)

body.home
  .newsHolder
    flex-wrap: wrap
    margin: 0 -25px

.stripe
  padding: 9px 15px
  color: $white
  font-size: 14px
  z-index: 5
  > a
    display: flex
  .type
    font-weight: 900
    text-transform: uppercase
  .date
    margin-left: auto
  &--cyan
    background-color: rgba(39, 186, 194, 0.7)
  &--red
    background-color: rgba(254, 26, 26, 0.7)
  &--yellow
    background-color: rgba(237, 201, 0, 0.7)

body.archive
  .stripe
    display: flex