.App__Header
  position: fixed
  left: 0
  top: 0
  width: 100%
  color: $black
  z-index: 50
  background-color: $white
  border-bottom: 1px solid #eee
  +bp(_1366)
    padding: 10px 70px
  +bp(_768)
    padding: 10px 20px
  .HeaderHolder
    display: flex
    align-items: center
    height: 85px
    margin: 0 auto
    padding: 0 40px
    max-width: 1700px
    transition: height .3s linear
    +bp(_1200)
      padding: 0
  &__Logo
    height: 100%
    padding: 8px 0
    max-height: 67px
    align-self: center
    +bp(_360)
      width: 125px
    img
      height: 100%
      +object-fit(contain)
  &__Nav
    margin: auto
    +bp(_1200)
      margin-right: 15px
  &__Right
    margin: auto 0
    > *
      display: inline-block
      vertical-align: top
      line-height: 1
    .searchBtn
      margin-top: 3px
      margin-right: 7px
    .userLogin
      color: #fff
      font-size: 10px
      background-color: #000
      padding: 6px 12px 6px 8px
      border-radius: 3px
      margin: 0 4px
      span
        margin-left: 5px
    .socialLink
      font-size: 16px
      margin-left: 12px
      color: #fff
      padding: 3px
      border-radius: 3px
      +bp(_1200)
        display: none
      &--Linkedin
        background-color: #006ac2
      &--Youtube
        background-color: #d0021b
  &.Fixed
    .HeaderHolder
      height: 65px
    .App__Header__Nav
      li
        font-size: 14px
      > nav
        margin-top: 10px

//Inside pages Header Cyan Stripe
.pageHeader
  position: relative
  height: 160px
  margin-bottom: 75px
  display: flex
  align-items: flex-end

  h1
    color: $white
    margin-bottom: 15px
  img
    +pos(absolute, 0, 0, 0, 0)
    width: 100%
    height: 100%
    +object-fit(cover)