/*
CUSTOM CSS

Izmene u CSSu nakon kreiranja templejta se postavljaju ovde.
Developer iz ovog CSSa korekcije treba da integrise u glavni style.css

*/
.paperNotes p{
    padding-top: 20px;
}
.paperNotes h5{
    color: #cd2027;
    font-size: 40px;
    letter-spacing: 4px;
    text-shadow: none;
    font-family: "Raleway", sans-serif;
    margin-bottom: 15px;
}
.paperNotes a{
    color: rgba(23, 185, 194, 0.8);
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: underline;
}
.paperNotes hr{
    margin-bottom: 0px;
}
.paperNotes {

}
.paperNotes__Item {
    margin-bottom: 10px;
}
.mainProductBox__AdditionalInfo {
    text-transform: none;
}
.ApplicationsBox__Img img {
    border: 2px solid #ccc;
    border-radius: 20px;
}
.searchForm-holder input {
    color: #111111;
}