/*
Theme Name: WP_Ogitive
Theme URI: http://ww.ogitive.com
Author: Ogitive
Author URI: http://www.ogitive.com
Description: Blank template
Version: 1.0-wpcom
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: wpog
Tags:
*/

.form-error,
.form-message {
  margin: 12px 0 24px 0;
  padding: 12px;
}

.form-error {
  border: 1px solid #f00000;
  background: rgb(255, 249, 220);
  color: #f00000;
}

.form-message {
  border: 1px solid #10bd08;
  background: rgb(255, 249, 220);
  color: #10bd08;
}

.App__Header__Right .userProfile {
  color: #fff;
  font-size: 10px;
  background-color: #000;
  padding: 6px;
  border-radius: 3px;
  margin: 0 4px;
}

.App__Header__Right .userProfile span {
  width: 10px;
  background: url(images/log-ico.svg) no-repeat center;
  display: inline-block;
}
.ApplicationsBox__Img {
	position: relative;
	height: 250px;
}

.ApplicationsBox__Img a {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
}