.App__Sidebar
  +bp(_991)
    display: none
  h3
    +Bborder(left)
    margin-top: 60px
    &:first-child
      margin-top: 0
  &__Nav
    > ul > li > a
      padding: 4px 10px 4px 4px
    li
      display: block
      font-size: 18px
      line-height: 1.22
      list-style: none
      color: #555
      font-weight: 400
      position: relative
      padding:
      margin-bottom: 5px
      &:last-of-type
        margin-bottom: 0
      &:hover
        > a
          color: $white !important
          background-color: $cyan !important
          &:after
            color: $white !important
      &.current_page_item, &.current-menu-ancestor
        > a
          color: $cyan
          font-weight: 700
      &.page_item_has_children, &.menu-item-has-children
        > a:after
          font-family: FontAwesome, sans-serif
          margin-left: 7px
          content: '\f105'
          color: $cyan

      > ul
        width: 240px
        padding: 7px 0
        font-size: 14px
        margin-top: 3px
        margin-left: 20px
        li
          font-size: 14px
          a
            color: $black
            display: block
            padding: 3px 5px

body.single, body.category
  .App__Sidebar__Nav > ul > li > a
    display: block
    font-size: 16px