div.wpcf7
  font-size: 14px
  letter-spacing: 1.2px
  //margin-bottom: 20px
  +bp(_991)
    margin-top: 35px
  textarea
    width: 100%
    max-width: 100%
    max-height: 550px
    min-height: 100px
    margin-top: 10px
    padding: 11px 11px 10px
    border: 1px solid #000
    transition: box-shadow .2s ease-in-out
  input
    border: none
    margin-top: 10px
    transition: all .2s ease-in-out
    &[type='email'], &[type='text']
      width: 100%
      height: 35px
      line-height: 35px
      border: 1px solid #000
      margin-bottom: 25px
      letter-spacing: 1.2px
      padding: 11px 11px 10px
    &[type='submit']
      width: 155px
      height: 45px
      text-align: center
      color: #fff
      font-size: 12px
      font-weight: 900
      letter-spacing: 0.9px
      text-transform: uppercase
      background-color: #2a2a2a
      &:hover, &:focus, &:active
        background-color: $cyan
        border: 1px solid #fff