.grayBox
  background-color: $silver
  border-radius: 17px
  padding: 25px 15px
  margin-bottom: 40px
  position: relative
  h5
    margin-bottom: 40px
    font-weight: 900
    color: $black
    a
      display: block
      color: $cyan
  .authors
    margin-bottom: 15px
    color: $black
  .date, .abstract
    margin-bottom: 10px
    font-size: 14px
    color: #555
  .country
    font-weight: 900
    color: $cyan
    margin-bottom: 30px
    padding-right: 55px
  .title
    font-weight: 900
    margin-bottom: 10px
  .sales
    margin-bottom: 15px
  .page-content
    font-size: 14px
    p
      margin-bottom: 3px
  .logoHolder
    position: absolute
    width: 110px
    height: 50px
    right: 17px
    top: 17px
    text-align: right
    img
      +object-fit(contain)
      max-height: 100%
      max-width: 100%