.App__Header__Nav
  a
    display: block
    text-decoration: none
  #menu-button
    display: none
    +bp(_1200)
      display: block
  > nav
    margin-top: 15px
    +bp(_1200)
      display: none
    > ul li
      &.current-menu-item, &.current-menu-parent, &.current-menu-ancestor
        color: $cyan !important
    > ul > li
      display: inline-block
      vertical-align: top
      position: relative
      font-weight: 700
      font-size: 20px
      margin: 0 10px
      padding: 4px 0 20px
      transition: font-size .2s linear
      &:hover
        color: $cyan !important
      > ul.sub-menu
        top: 40px
        left: -10px
        background-color: #eaeaea
        > li
          > ul
            background-color: #eaeaea
            left: 100%
            top: 0
    ul.sub-menu
      padding-top: 7px
      visibility: hidden
      position: absolute
      opacity: 0
      width: 240px
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)
      transition: visibility, opacity .2s ease-in-out
      li
        position: relative
        color: $black
        padding: 3px 10px
        display: block
        font-weight: 400
        font-size: 16px
        margin-bottom: 10px
        transition: background-color .1s ease-in-out
        &:hover
          background-color: #19A3AB !important
          color: $white !important
        &.menu-item-has-children
          &:after
            content: '\203A'
            position: absolute
            right: 5px
            top: 50%
            transform: translateY(-50%)
      &.visible
        visibility: visible
        opacity: 1