.Pagination
  padding-top: 20px
  border-top: 5px solid #f4f4f4
  +clearfix
  &__Ul
    display: flex
    justify-content: center
    text-align: center
    li
      width: 20px
      span.current
        color: $cyan
      a
        color: #000
        text-decoration: none
        &.firstPage
          margin-right: 20px
        .prev.page-numbers
          margin-right: 20px
        &.lastPage
          margin-left: 20px
        .next.page-numbers
          margin-left: 20px
        &:hover
          color: $cyan