.topSearch
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  transform: translate3d(0, -100px, 0)
  opacity: 0
  background: #181818
  padding: 17px 0 0
  z-index: 999
  transition: transform .3s ease-in-out, opacity .5s ease-in-out
  &.push
    transform: translate3d(0, 0, 0)
    opacity: 1

.searchForm-holder
  position: relative
  padding-right: 30px
  +bp(_480)
    padding-right: 15px
  input
    width: 100%
    outline: none
    background: #4A4A4A
    border: none
    padding: 13px 120px 13px 45px
    color: #fff
    &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder
      color: #fff
  .button-search
    background: #181818
    color: #fff
    position: absolute
    right: 40px
    top: 10px
    padding: 5px 20px
    text-transform: none
    font-weight: 400
    border: none
    +bp(_480)
      right: 25px
    //&:before
    //  content: none
  .close-btn
    width: 19px
    height: 40px
    position: absolute
    right: 7px
    top: 50%
    transform: translate(0, -50%)
    font-size: 22px
    color: #ffffff
    cursor: pointer
  .fa
    position: absolute
    left: 10px
    top: 10px
    color: #fff
    font-size: 20px

.App__Header.Fixed
  .topSearch
    padding-top: 9px
    transition: padding-top .2s ease