body
  font-family: $default-font
  font-size: $default-size
  line-height: 1.2
  color: $black

a, a:visited, a:hover, a:active, a:focus
  font-weight: inherit
  font-size: inherit
  color: inherit
  text-decoration: none

.mt70
  margin-top: 70px

.mt
  &_30
    margin-top: 30px

.t
  &-center
    text-align: center
  &-right
    text-align: right

.mb
  &_30
    margin-bottom: 30px
  &_60
    margin-bottom: 60px

img
  max-width: 100%
  height: auto

.Relative
  position: relative

.Flex
  display: flex
  flex-wrap: wrap

.embed-responsive-16by9
  width: 450px
  +bp(_480)
    width: 360px
  +bp(_380)
    width: 320px
  +bp(_359)
    width: 290px

.mobileFull
  +bp(_480)
    width: 100% !important

.mobileVisible
  display: none
  +bp(_991)
    display: block

.overflowHidden
  overflow: hidden

.desktopVisible
  display: block
  +bp(_991)
    display: none

.more-info
  +btn(cyanI)
  text-decoration: none !important

.borderTop
  border-top: 10px solid #f4f4f4
  margin-top: 80px

.shortcodeLink
  +btn(cyanI)
  margin-top: 20px
  &.big
    min-width: 240px

.loginRegister
  font-size: 16px
  font-weight: 700
  margin: 40px 0 20px
  color: #000
  a
    +linx($cyan)
    &:hover
      text-decoration: underline

.App__Main
  padding: 85px 0
  +bp(_768)
    padding-bottom: 30px

.defaultSection
  padding-top: 100px
  padding-bottom: 70px
  +bp(_991)
    padding-top: 70px
    padding-bottom: 40px
  +bp(_768)
    padding-top: 45px
    padding-bottom: 30px
  &:last-child
    padding-bottom: 0
  &--Gray
    background-color: #f4f4f4
    margin-top: 60px

a.cyanLink
  +linx($cyan)

h1
  +h-1

h2
  +h-2

h3
  +h-3

h4
  +h-4

.tag
  &--Rect
    +tag()
  &--Round
    +tag(round)

.swiper-button-prev, .swiper-button-next
  height: 76px
  margin-top: -38px
  background-image: none
  +bp(_1366)
    display: none

.swiper-button-prev
  &:after
    content: '\f104'
    font-family: 'FontAwesome', sans-serif
    font-size: 64px
    color: $cyan

.swiper-button-next
  &:after
    content: '\f105'
    font-family: 'FontAwesome', sans-serif
    font-size: 64px
    color: $cyan

.sideBox
  .more-info
    display: block
    max-width: 240px
    margin-top: 30px

.editProfile
  label
    color: #555555
    display: block
    margin-bottom: 10px
  input
    width: 100%
    height: 40px
    line-height: 40px
    border: 1px solid #555
    border-radius: 5px
    padding: 0 5px
    margin-bottom: 30px
  button
    +btn(cyan)

//Select2 edit
.select2-container
  width: 100% !important
  margin-bottom: 30px

.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container .select2-selection--single
  height: 40px

.select2-container--default .select2-selection--single
  border: 1px solid #555
  border-radius: 5px

.select2-container--default .select2-selection--single .select2-selection__rendered
  line-height: 40px

.select2-container--default .select2-selection--single .select2-selection__arrow b
  border-color: #000 transparent transparent

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
  border-color: transparent transparent #000

.searchBox
  margin: 50px 0
  h2
    font-size: 26px
    margin-bottom: 10px
    font-weight: 700

.ApplicationsBox
  margin-bottom: 40px
  &__Img
    display: flex
    margin-bottom: 15px
    img
      +object-fit(contain)
  &__Title
    text-align: center
    h2
      font-size: 24px

.Faq.CustomAcc [data-accordion] [data-control]
  padding-left: 0
  color: $cyan
  cursor: pointer

