// Clear fix
=clearfix
  &:before, &:after
    content: ""
    display: table

  &:after
    clear: both

// Columns grid
=row()
  font-size: 0

=col($col, $sum, $gap: 1em, $align: top, $first: false, $last: false)
  width: percentage($col/$sum)
  font-size: 16px
  display: inline-block
  vertical-align: $align
  padding-left: if($first, 0, $gap)
  padding-right: if($last, 0, $gap)
  @media only screen and (min-width: 768px)
    width: percentage($col/$sum)
    vertical-align: $align

$h1-size: 42px
$h2-size: 36px
$h3-size: 24px
$h4-size: 20px
=h-1
  font-size: $h1-size
  font-weight: 400
  line-height: 1
  font-family: $secondary-font
  +bp(_1200)
    font-size: $h1-size - 8px
  +bp(_768)
    font-size: $h1-size - 12px
  +bp(_600)
    font-size: $h1-size - 18px

=h-2
  font-size: $h2-size
  font-weight: 400
  line-height: 1
  font-family: $secondary-font
  +bp(_1200)
    font-size: $h2-size - 4px
  +bp(_768)
    font-size: $h2-size - 8px
  +bp(_600)
    font-size: $h2-size - 10px

=h-3
  font-size: $h3-size
  font-weight: 400
  line-height: 1
  font-family: $secondary-font
  +bp(_1200)
    font-size: $h3-size - 2px
  +bp(_768)
    font-size: $h3-size - 4px
  +bp(_600)
    font-size: $h3-size - 6px

=h-4
  font-size: $h4-size
  font-weight: 400
  line-height: 1
  font-family: $secondary-font
  +bp(_1200)
    font-size: $h3-size - 2px
  +bp(_768)
    font-size: $h3-size - 4px
  +bp(_600)
    font-size: $h3-size - 6px

//Linx
=linx($color)
  &
    color: $color
    outline: none
    transition: all .2s ease-in-out
    &:visited
      color: $color
      text-decoration: none
    &:active
      color: $color
      text-decoration: none
    &:focus
      color: $color
      text-decoration: none
    &:hover
      color: $color
      text-decoration: none

=btn($type)
  display: inline-block
  padding: 10px 10px 9px
  min-width: 120px
  font-size: 14px
  font-weight: 700
  border-radius: 12px
  text-decoration: none
  text-align: center
  transition: border, color, background-color .2s ease
  &:hover
    text-decoration: none
    font-size: 14px
    font-weight: 700
  @if $type == cyan
    color: $white !important
    border: 2px solid $cyan
    background-color: $cyan
    &:hover
      color: $cyan !important
      border: 2px solid $cyan
      background-color: transparent
  @else if $type == cyanI
    color: $cyan !important
    border: 2px solid $cyan
    background-color: transparent
    &:hover
      color: $white !important
      border: 2px solid $cyan
      background-color: $cyan
  @else if $type == black
    color: $white !important
    border: 2px solid $black
    background-color: $black
    &:hover
      color: $black !important
      border: 2px solid $black
      background-color: transparent
  @else if $type == blackI
    color: $black !important
    border: 2px solid $black
    background-color: transparent
    &:hover
      color: $white !important
      border: 2px solid $black
      background-color: $black

//Positioning
=pos($type:absolute,$top:auto,$right:auto,$bot:auto,$left:auto,$c:false)
  position: $type
  right: $right
  bottom: $bot
  @if $c == true
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  @else
    top: $top
    left: $left

// Retina images support
=background-image-retina($file, $type, $width, $height)
  background-image: url($img-path + $file + "." + $type)
  width: $width
  height: $height
  @media #{$retina}
    &
      background-image: url($img-path + $file + "@2x." + $type)
      background-size: $width $height

=Bborder($pos:center)
  &
    position: relative
    padding-bottom: 35px
  &:after
    content: ''
    width: 65px
    height: 5px
    display: block
    text-align: inherit
    margin: 20px auto 0
    background-color: $cyan
  @if $pos == left
    &:after
      margin: 20px 0 0

=tag($type:rect)
  &
    background-size: 50px 50px
    width: 50px
    height: 50px
    font-size: 16px
    font-weight: 900
    line-height: 1.38
    display: inline-flex
    align-items: center
    text-transform: uppercase
    span
      margin: auto
      display: block
      a
        line-height: 1
        display: block
    @if $type == round
      background: url(../images/icons/round_outline.svg) no-repeat center
    @else
      background: url(../images/icons/rect_outline.svg) no-repeat center

=object-fit($fit: fill, $position: null)
  -o-object-fit: $fit
  object-fit: $fit
  @if $position
    -o-object-position: $position
    object-position: $position
    font-family: 'object-fit: #{$fit}; object-position: #{$position}'
  @else
    font-family: 'object-fit: #{$fit}'

