.page-content
  text-align: justify
  +clearfix()
  h1, h2, h3, h4, h5, h6
    text-align: left
    font-weight: 400
    margin-bottom: 15px
  h1
    color: #000
    font-size: 40px
    letter-spacing: 4px
    text-shadow: none
  h2
    font-size: 30px
  h3
    font-size: 26px
  h4
    font-size: 20px
  h5
    font-size: 18px
  p
    margin-bottom: 15px
  ul
    list-style: disc inside
    margin-left: 20px
    li
      padding-left: 15px
      text-indent: -21px
    ul
      list-style: circle inside
      margin-left: 15px
      ul
        list-style: square inside
        margin-left: 15px
    ol
      list-style: lower-latin inside
      margin-left: 15px
  ol
    list-style: decimal
    margin-left: 20px
    li
      padding-left: 15px
      text-indent: -21px
    ol
      list-style: lower-latin inside
      margin-left: 15px
    ul
      list-style: circle inside
      margin-left: 15px
  a:not(.shortcodeLink)
    +linx(rgba(23, 185, 194, 0.8))
    text-decoration: underline
    transition: color .3s ease-in-out
    &:hover
      color: rgba(23, 185, 194, 1)
  img
    margin-bottom: 15px

.page-content-header
  margin-bottom: 30px
  h2
    margin-bottom: 40px
  .date, .location
    display: inline-block
    vertical-align: middle
    color: #ccc
  .location
    font-weight: 700
    &:before
      content: '|'
      display: inline-block
      vertical-align: middle
      margin-left: 10px
      margin-right: 13px
