.applicationsArchive
  &__Title
    font-size: 24px
    color: #555555
    border-bottom: 5px solid #f4f4f4
    padding-bottom: 25px
    margin-bottom: 40px
  &__Box
    max-width: 345px
    margin-left: auto
    margin-right: auto
    margin-bottom: 80px
    +bp(_991)
      margin-bottom: 50px
    h5
      min-height: 45px
      font-weight: 700
      text-align: center
      a
        color: #000 !important
        text-decoration: none !important
    &__Img
      position: relative
      border: 2px solid #ccc
      height: 240px
      margin-bottom: 10px
      border-radius: 20px
      img
        +pos(absolute, $c: true)
        +object-fit(contain)
        height: calc(100% - 35px)
        width: calc(100% - 35px)

.newsArchive
  .newsHolder
    margin-bottom: 60px
    +bp(_600)
      display: block
  .newsBox__Img
    min-width: 370px
    +bp(_991)
      min-width: 290px
    +bp(_600)
      width: 100%
  .newsBox__Content
    +bp(_600)
      margin-left: 0