.company
  &__Team
    border-top: 5px solid #f4f4f4
    padding-top: 70px
    margin-top: 70px
    .title
      +Bborder(left)
    .description
      margin-bottom: 70px
    &__Member
      &--Main
        padding: 70px 0
        .img-holder
          margin-bottom: 20px
      h3
        font-weight: 900
        margin-bottom: 20px
      .titleInCompany
        font-size: 20px
        color: #555
        margin-bottom: 20px
      .desc
        color: #555
        padding-bottom: 20px
        line-height: 1.31
      &.gray
        background-color: #f4f4f4

.moreMembers
  background-color: #f4f4f4
  padding: 23px 0
  cursor: pointer
  &__Btn
    i
      color: $cyan
      font-size: 64px
      display: inline-block
      vertical-align: middle
      transform: rotate(0deg)
      transition: transform .3s ease-in-out
    &.active
      i
        transform: rotate(180deg)
    span
      display: inline-block
      vertical-align: middle
      padding-left: 50px
      font-size: 24px
      font-family: $secondary-font
  &__Section
    .container
    padding-top: 75px
    .col-xs-6
      +bp(_480)
        width: 100% !important
    .company__Team__Member
      margin-bottom: 70px
      h3
        margin-top: 20px

.companyUsers
  h3
    color: #555555
    padding-bottom: 24px
    border-bottom: 5px solid #f4f4f4
    margin-bottom: 30px
  .partnersHolder
    display: flex
    justify-content: center
    margin-bottom: 70px
    +bp(_768)
      flex-wrap: wrap
    p
      margin-top: 24px
      font-weight: 700
    &__Box
      margin: 0 15px
  .usersList
    line-height: 1.31
    color: #555
    padding-top: 20px

.userStories
  &__Item
    margin-bottom: 60px
    text-align: right
    .quote
      position: relative
      font-style: italic
      color: #555
      padding-left: 100px
      line-height: 1.31
      margin-bottom: 20px
      text-align: justify
      +bp(_600)
        padding-left: 50px
      &:before
        content: '\f10d'
        font-family: FontAwesome, sans-serif
        font-size: 72px
        font-style: normal
        position: absolute
        left: 0
        top: -12px
        color: $cyan
        +bp(_600)
          font-size: 40px
    .author
      font-size: 24px
      font-weight: 900
      margin-bottom: 5px
      +bp(_600)
        font-size: 18px
    .title, .companyName
      font-size: 20px
      color: #555

body.page-template-page-companyContact
  .embed-responsive-16by9
    float: right
    width: 570px
    +bp(_1200)
      width: 420px
    +bp(_768)
      width: 100%
      margin-bottom: 30px