.mainProductBox
  overflow: hidden
  min-height: 450px
  position: relative
  margin-bottom: 30px
  border-radius: 16px 0 0 16px
  padding: 20px 180px 20px 20px
  border: 1px solid transparent
  background-color: rgba(244, 244, 244, 0)
  transition: background-color, border-radius .3s ease-in-out
  +bp(_1200_991)
    min-height: 490px
  +bp(_991)
    position: static
    padding-right: 20px
    min-height: 0
    border-radius: 16px
    background-color: rgba(244, 244, 244, 1)
  .img-holder
    margin-top: 20px
    margin-bottom: 25px
  h3
    +Bborder(left)
    font-weight: 900
    font-family: Roboto, sans-serif
  .more-info
    +btn(cyanI)
    position: absolute
    left: 0
    bottom: 0
    +bp(_991)
      position: static
      margin: 15px 0
  &__MainInfo
    position: absolute
    left: 20px
    right: 180px
    top: 50%
    transform: translateY(-50%)
    min-height: 410px
    +bp(_1200_991)
      min-height: 460px
    +bp(_991)
      position: static
      transform: none
      min-height: 0
  &__AdditionalInfo
    position: absolute
    top: 0
    right: 0
    bottom: 0
    width: 175px
    color: $white
    font-size: 14px
    background-color: $cyan
    padding: 20px
    text-transform: uppercase
    transform: translate3d(100%, 0, 0)
    transition: background-color, border-radius, transform .3s ease
    &__Description
      font-size: 16px
      text-transform: none
      margin-bottom: 20px
    +bp(_991)
      width: 100%
      transform: none
      position: static
    p
      margin-bottom: 10px
  &:hover
    background-color: rgba(244, 244, 244, 1)
    border-radius: 16px
    .mainProductBox__AdditionalInfo
      border-radius: 0 16px 16px 0
      transform: translate3d(0, 0, 0)
      +bp(_991)
        border-radius: 0
    .more-info
      +btn(cyan)

.flexAddonTools
  display: flex
  flex-wrap: wrap
  justify-content: center
  &__BoxHolder
    position: relative
    flex-basis: 240px

.addonTools__Section
  h2
    color: $cyan
    margin-bottom: 90px
  &__Box
    text-align: center
    min-height: 400px
    +bp(_1200)
      min-height: 0
      margin-bottom: 40px
    h5
      font-size: 16px
      font-weight: 900
      margin-top: 30px
      margin-bottom: 25px
      text-transform: uppercase
    .more-info
      position: absolute
      bottom: 0
      left: 50%
      transform: translateX(-50%)
      +btn(cyanI)
      +bp(_1200)
        position: static
        transform: none
        margin-top: 20px

//Product Template 2
.productsTemplate
  h4
    +Bborder(left)
  .sideBox
    +bp(_991)
      margin-bottom: 40px
    .page-content
      max-width: 240px
      +bp(_991)
        max-width: none

.addonsList
  position: relative
  margin-bottom: 65px
  min-height: 250px
  padding-bottom: 45px
  +bp(_991)
    min-height: 0
    margin-bottom: 0
  h5
    font-weight: 900
    margin-bottom: 30px
  .more-info
    +btn(cyanI)
    margin-top: 30px
    position: absolute
    bottom: 0
    left: 0
    +bp(_991)
      position: static