.support
  &__Description
    margin-bottom: 45px
  &__LoggedIn
    border-top: 10px solid #f4f4f4
    padding-top: 75px
    margin-top: 80px
    h3
      +Bborder(left)
    .introText
      margin-bottom: 40px
    &__Content
      h4
        font-family: $default-font
    .downloadTsk
      +btn(cyan)
      margin-top: 20px

.brochureBox
  margin-bottom: 60px
  h5
    font-size: 16px
    font-weight: 700
    margin: 20px 0
  a.btnPdf
    +btn(cyanI)

.downloadPapers
  margin-top: 60px
  &__Item
    margin-bottom: 30px
    .paperLink
      display: block

.appNotes
  margin-top: 60px
  &__Item
    margin-bottom: 30px
    h5
      font-weight: 700
      margin-bottom: 10px
    a
      color: $cyan
      text-decoration: none
      &:hover
        text-decoration: underline

.Faq
  .downloadFaq
    +btn(cyan)
    min-width: 170px
  h3
    color: #555
    padding-bottom: 30px
    margin-bottom: 20px
    border-bottom: 5px solid #f4f4f4
    margin-top: 50px
    &:first-of-type
      margin-top: 0
  [data-accordion-group]
    margin-bottom: 60px
  [data-accordion]
    [data-content]
      overflow: hidden
      max-height: 0
    line-height: 1

  [data-control]
    padding: 10px
    font-weight: 700

  [data-content]
    > *
      line-height: 1.31
      color: #555
      padding: 20px
      background-color: #f4f4f4
    [data-accordion]
      border: 0
      padding: 0

  [data-accordion]
    [data-control]
      position: relative
      padding-right: 40px
    > [data-control]:after
      content: ""
      position: absolute
      right: 10px
      top: 12px
      font-size: 25px
      font-weight: 200
      color: #444
      height: 15px
      width: 24px
      background: url('../images/down.png') center center no-repeat
      background-size: 50%
    &.open > [data-control]:after
      -webkit-transform: rotate(-180deg)
      -ms-transform: rotate(-180deg)
      transform: rotate(-180deg)

.sectionTitle
  margin-bottom: 10px

.downloadsDemoBox
  +bp(_991)
    margin-top: 40px
  &:first-child
    +bp(_991)
      margin-top: 0

.files
  margin-bottom: 30px
  + .page-content
    +bp(_991)
      margin-bottom: 30px
  &__Box
    margin-bottom: 15px